@model DADevXuongMoc.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-primary mb-4">Chi tiết Sản phẩm</h1>

<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="text-end">Mã danh mục</th>
                    <td>@Html.DisplayFor(model => model.Cid)</td>
                </tr>

                <tr>
                    <th class="text-end">Tiêu đề/th>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <th class="text-end">Mô tả</th>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <th class="text-end">Nội dung</th>
                    <td>@Html.DisplayFor(model => model.Content)</td>
                </tr>
                <tr>
                    <th class="text-end">Ảnh</th>
                    <td>
                            <img src="@Url.Content(Model.Image)" alt="Image" class="img-fluid" style="max-width: 150px;">
                    </td>
                </tr>

                <tr>
                    <th class="text-end">Giá mới</th>
                    <td>@Html.DisplayFor(model => model.PriceOld)</td>
                </tr>
                <tr>
                    <th class="text-end">Giá mới</th>
                    <td>@Html.DisplayFor(model => model.PriceNew)</td>
                </tr>
                <tr>
                    <th class="text-end">Kích cỡ</th>
                    <td>@Html.DisplayFor(model => model.Size)</td>
                </tr>
                <tr>
                    <th class="text-end">Ngày tạo</th>
                    <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                </tr>

                <tr>
                    <th class="text-end">Trạng thái</th>
                    <td>@Html.DisplayFor(model => model.Status)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">
        <i class="bi bi-pencil"></i> Sửa
    </a>
    <a asp-action="Index" class="btn btn-danger">
        <i class="bi bi-arrow-left"></i> Trở lại
    </a>
</div>
